{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Nom</th>
            <th class="active text-center">Symbole</th>
            <th class="active text-center">Date de Création</th>
            <th class="active text-center">Createur</th>
            <th class="active text-center">Minable</th>
            <th class="active text-center">Retirer des Favoris</th>
        </tr>

        {{ monUser.email }}

        {% for  crypto in monUser.mesCryptos %}
            <tr>
                <td>{{ crypto.Nom }}</td>
                <td>{{ crypto.Symbole }}</td>
                <td>{{ crypto.dateCreation|date('d-m-Y') }}</td>
                <td>{{ crypto.Createur }}</td>
                <td>{{ crypto.Minable }}</td>
                <td><a class="btn btn-info" href="{{ path('user.deleteFavorisCrypto', {idC: crypto.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                    </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}