{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Nom</th>
            <th class="active text-center">Symbole</th>
            <th class="active text-center">Date de Création</th>
            <th class="active text-center">Createur</th>
            <th class="active text-center">Minable</th>
        </tr>

        {{ monUser.email }}

        {% for  crypto in monUser.mesCryptos %}
            <tr>
                <td>{{ crypto.Nom }}</td>
                <td>{{ crypto.Symbole }}</td>
                <td>{{ crypto.dateCreation|date('d-m-Y') }}</td>
                <td>{{ crypto.Createur }}</td>
                <td>{{ crypto.Minable }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}