{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails de la cryptomonnaie {{ crypto.nom }} : </h1>
    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ crypto.nom }}</strong></h3>

                </div>
            </div>

            <p>
                Peut-on miner cette cryptomonnaie : <strong>{{ crypto.minable }}</strong>

            </p>
            <p>Crée le : {{ crypto.dateCreation|date('Y-m-d') }}</p>
            <br/><br/><br/><br/>
            <p>
                <strong>Les commentaires de la cryptomonnaie : </strong>
            </p>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-default" href="{{ path('crypto.list') }}">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" > </span>
                        Liste des cryptomonnaies
                    </a>

                    <a class="btn btn-primary" href="#">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                       Ajouter un commentaire
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}